{% extends 'AppBundle:public:common_base.html.twig' %} {%block body%}
<div class="row_100 clearfix">
    <div class="row row_general">

        <div class="col_content contenido_general contenido_single">

            <h1>Prensa</h1>							

            <p>Si eres periodista o responsable de prensa de tu empresa y/o institución y quieres solicitar/proporcionar información específica hazlo a través de nuestro correo electrónico <a href="mailto:comunicacion@entrelectores.com" onclick="_gaq.push(['_trackEvent','mailto','comunicacion@entrelectores.com']);">comunicacion@entrelectores.com</a></p>

        </div>
        <div class="col_sidebar">
            <div class="promocionado_sidebar">
                {{render_esi(url('books_sidebar_promoted'))}} 
            </div>
        </div>
    </div>
</div>
{%endblock%}