{% extends 'AppBundle:public:common_base.html.twig' %} {%block body%}
<div class="row_100 clearfix">
    <div class="row">
        <div class="col_content contenido_general contenido_single">

            <h1>Términos y condiciones</h1>						

            <h2>Identificación</h2>
            <ul>
                <li><strong>Titular:</strong>&nbsp;Versus Entertainment S.L</li>
                <li><strong>Domicilio:</strong>&nbsp;Calle Cronos 24-26, Portal 2, E22 Bajo, 28037 Madrid – España</li>
                <li><strong>CIF:</strong>&nbsp;B84335520</li>
                <li><strong>Registro Público:</strong>&nbsp;Inscrita en el Registro Mercantil de Madrid, al tomo 21.568, Libro 0, folio 200, Sección 8ª, Hoja M-383764, inscripción 1ª</li>
                <li><strong>E-mail:</strong> <a href="mailto:info@entrelectores.com" onclick="_gaq.push(['_trackEvent','mailto','info@entrelectores.com']);">info@entrelectores.com</a></li>
            </ul>
            <h2>Objeto</h2>
            <p>A continuación ponemos a tu disposición toda la información relativa a lo que puedes y no puedes hacer durante la navegación a través de nuestro sitio web.</p>
            <p>Entrelectores.com es una red social vertical para la recomendación de libros y literatura en general, con la que pretendemos que los usuarios dispongan de un espacio online en el que poder compartir de forma centralizada toda la información, opiniones, críticas, gustos y preferencias sobre los millones de libros que existen, así como comunicarse con el resto de usuarios de la plataforma.</p>
            <p>En la actualidad puedes acceder a la plataforma desde dos dominios diferentes, www.entrelectores.com y www.entrelectores.es, siendo de aplicación las presentes condiciones de uso a ambos dominios, así como cualquier subdominio dependiente de éstos.</p>
            <p>Como usuario de Entrelectores.com debes aceptar íntegramente todas las condiciones de uso y la política de privacidad que ponemos a tu disposición, así como las diferentes modificaciones y/o textos legales adicionales que es posible que incluyamos en el futuro, además de las condiciones particulares que regulen servicios específicos. En caso de que alguna de las condiciones que dispongamos consideres que no es adecuada y/o que no estás de acuerdo con ella, puedes darte de baja (en caso de estar registrado) o simplemente no acceder al servicio.</p>
            <p>A los efectos de la interpretación de las presentes condiciones, entendemos que una persona pasa a ser usuaria en el momento en que visita nuestro sitio web.</p>
            <h2>Propiedad intelecutal e industrial</h2>
            <p>Desde Entrelectores.com estamos profundamente comprometidos con la protección y defensa de los derechos de propiedad intelectual e industrial. Por ello, te informamos de que:</p>
            <p>Somos los titulares de todos los derechos de propiedad intelectual e industrial que se encuentren relacionados con la plataforma, con independencia de que hayan sido desarrollados por nosotros o facilitado / cedidos por terceros (Logotipo, marcas, diseño, programación,…). No obstante, y tal y como se indica en el apartado “Contenido de los usuarios”, todo el contenido que los usuarios publiquen o asocien a sus perfiles será propiedad de éstos, con independencia de que nos reservamos el derecho de uso y explotación de los mismos conforme a las condiciones indicadas.</p>
            <p>Como propietarios del servicio, cedemos a todos nuestros usuarios una licencia de uso no exclusivo, de ámbito temporal limitado y espacial ilimitado, gratuita, intransferible, revocable y no sublicenciable sobre el uso del servicio que ponemos a tu disposición.</p>
            <p>No obstante, queda absolutamente prohibida la distribución, reproducción, modificación, comunicación pública y cualquier tipo de explotación de la plataforma, ya sea directa o indirecta, así como de todo o parte de los contenidos publicados por los usuarios en sus perfiles de usuarios, tanto para usuarios registrados, como para terceros ajenos a la plataforma, sin que previamente exista el consentimiento escrito por nuestra parte.</p>
            <p>Bajo ningún concepto la navegación a través del sitio web puede suponer la renuncia, transmisión, licencia o cesión total o parcial respecto a los derechos de propiedad intelectual o industrial, salvo que se establezca por escrito lo contrario.</p>
            <p>Ninguno de los contenidos alojados en la plataforma puede ser descargado, reproducido o utilizado, en ningún otro dispositivo o lugar diferente a nuestro sitio web, salvo que se haya habilitado por nuestra parte el medio para ello, quedando expresamente habilitada la posibilidad de compartir a través de redes sociales como Facebook, Tuenti, Twitter o LinkedIn, además de los diferentes widgets o instrumentos que ponemos a tu disposición.</p>
            <p>Del mismo modo, no está autorizada la explotación comercial, ya sea directa o indirecta, de los contenidos o elementos disponibles desde nuestra plataforma, quedando esta posibilidad únicamente en nuestras manos, como propietarios del servicio.</p>
            <p>Por razones de seguridad, no está permitido utilizar “frames” o mecanismos que alteren o varíen el diseño, configuración original o contenidos del sitio web.</p>
            <p>En caso de que detectes algún tipo de contenido contrario a la normativa vigente o que puede ser dañino para el resto de usuarios o tus propios intereses, te rogamos que nos los notifiques con la mayor brevedad posible por email a la dirección soporte@entrelectores.com.</p>
            <h2>Contenido de los perfiles de usuario</h2>
            <p>Dado que la plataforma permite a los usuarios registrados la publicación de información, imágenes, comentarios, críticas y valoraciones en sus perfiles, ponemos en tu conocimiento que:</p>
            <p>Todo el contenido que publiques en tu perfil es de tu propiedad exclusiva, otorgándonos una licencia de uso, distribución, comunicación pública y reproducción mediante la que poder transformarlo, tratarlo y en definitiva, utilizarlo, para el correcto funcionamiento del servicio, así como las actividades de promoción y/o publicidad de la plataforma y/o de las obras literarias comentadas. Dicha licencia tiene carácter mundial, no exclusiva, de ámbito temporal limitado, gratuita, transferible, revocable y sublicenciable a favor de terceros, siempre que tu perfil de usuario se encuentre activo y no hayas procedido a dar de baja tu cuenta.</p>
            <p>Como propietario del contenido publicado en tu perfil de usuario, debes garantizar en todo momento que:</p>
            <p>El contenido es absolutamente legal y no vulnera la normativa vigente en materia de Propiedad Intelectual, Industrial, Protección de Datos, Honor e Intimidad, o cualquier otra normativa con independencia de que el titular de los derechos vulenrados sea una persona física o jurídica.</p>
            <p>Eres el propietario del contenido o cuentas con los derechos suficientes para su publicación, comunicación pública a través de Internet, asumiendo todas las responsabilidades derivadas de su incumplimiento.</p>
            <p>Que en caso de no ser el propietario de dicho contenido, cuentas con la autorización del titular de los mismos.</p>
            <p>En este sentido y en tanto incumplas alguna de estas obligaciones, asumes plenamente las responsabilidades derivadas que pudieran derivarse, tanto frente a nosotros, como frente a terceros, asumiendo plenamente todos los gastos y daños y perjuicios que pudieran derivarse.</p>
            <h2>Usos no permitidos</h2>
            <p>Con el fin de que tengas claro qué es lo que puedes hacer y qué no a través de nuestra plataforma y los efectos que supone el no cumplimiento de las presentes condiciones, a continuación ponemos a tu disposición un listado de algunas las acciones que no pueden llevarse a cabo a través de la plataforma.</p>
            <p>El incumplimiento de cualquier da las cuestiones indicada a continuación implica que el usuario que llevo a cabo dicha acción asume plenamente las responsabilidades que pudieran derivarse.</p>
            <p>Queda absolutamente prohibido a los usuarios:</p>
            <p>Publicar o distribuir en sus perfiles cualquier tipo de información y/o comunicación que vulnere el secreto de las comunicaciones previsto en la normativa vigente.</p>
            <p>Publicar o distribuir contenidos que vulneren los derechos de propiedad intelectual e industrial de terceros.</p>
            <p>Publicar o distribuir contenidos que puedan vulnerar los derechos al honor, imagen, intimidad personal y familiar de otros usuarios o terceros ajenos a la plataforma.</p>
            <p>Publicar o distribuir comentarios potencialmente racistas, xenófobos, injuriosos, difamatorios, pornográficos, obscenos, falsos y en definitiva, contrarios a la moral y orden público.</p>
            <p>Publicar o atacar la plataforma mediante la inclusión de virus o material informático potencialmente dañino para la misma.</p>
            <p>Distribuir fuera de la plataforma contenidos de terceros publicados en Entrelectores.com, sin que exista consentimiento previo por parte de éstos.</p>
            <p>Suplantar la identidad de personas físicas o jurídicas a través de la plataforma.</p>
            <p>Utilizar la plataforma como medio de promoción y/o publicidad de negocios propios sin autorización por escrito de EntreLectores.com, entendiéndose que se incurre en tal caso siempre que los perfiles de usuarios estén registrados a nombre de personas jurídicas o la información publicada en ellos sea inequívocamente para lograr el beneficio de ésta.</p>
            <p>Publicar o distribuir contenidos con la finalidad de crear mala imagen infundada respecto a alguna de las obras literarias o autores literarios existentes en la plataforma.</p>
            <p>Utilizar la plataforma como medio para realizar publicidad, promoción de negocios, marcas o elementos personales, así como obtener direcciones de e-mail a las que posteriormente poder remitir comunicaciones de carácter comercial no solicitadas.</p>
            <p>Crear registros de usuario que incumplan con el principio de calidad de datos, debiendo ser siempre datos reales, personales y actualizados.</p>
            <p>Registrar un perfil en nombre de otra persona, o cualquier otra modalidad de utilización de identidades ajenas y, en particular, la suplantación de personalidades.</p>
            <p>Con independencia de las posibles responsabilidades que se deriven de este tipo de acciones, nos reservamos el derecho a bloquear cautelarmente la cuenta de usuario o incluso cancelarla, sin derecho a indemnización o resarcimiento de ningún tipo cuando detectemos alguno de estos usos no permitidos.</p>
            <h2>Registro de usuarios</h2>
            <p>Para la visualización de contenidos publicados en la plataforma no es requisito indispensable disponer de una cuenta de usuario registrado, siendo accesible la mayoría de éstos para cualquier usuario que acceda al sitio web.</p>
            <p>Desde Entrelectores.com ponemos a tu disposición la posibilidad de registrarte como usuario, para lo que únicamente necesitamos que nos facilites la siguiente información a través del formulario de registro:</p>
            <ul>
                <li>Nombre de usuario</li>
                <li>Nombre real</li>
                <li>Dirección de email</li>
                <li>Contraseña</li>
                <li>Sexo</li>
                <li>Edad</li>
                <li>Cuenta vinculada de otra red social</li>
                <li>Ciudad</li>
                <li>País</li>
                <li>Fecha de nacimiento</li>
                <li>Blog</li>
                <li>Imagen de perfil</li>
            </ul>
            <p>No obstante, también es posible acceder como usuario registrado mediante la conexión a través de los plugins de Facebook y Twitter que ponemos a tu disposición, asumiendo en tal caso las políticas de privacidad y condiciones particulares que estas plataformas hubieran establecido para este tipo de servicios de identificación.</p>
            <p>En todo caso, el registro de usuarios deberá realizarse atendiendo al principio de calidad de los datos, de tal forma que toda la información proporcionada sea real, verídica, actualizada y personal, asumiendo todas las posibles responsabilidades que se deriven.</p>
            <h2>Confidencialidad y protección de datos</h2>
            <p>De conformidad con lo dispuesto por la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, todos los datos de carácter personal facilitados durante la utilización del sitio web serán tratados de conformidad con los dispuesto en la Política de Privacidad que todo usuario debe aceptar expresamente para poder utilizar y registrarse en el sistema.</p>
            <p>Todo usuario que acepte las presentes condiciones de uso, acepta de forma informada, expresa e inequívoca nuestra Política de Privacidad, asistiéndole en este sentido los derechos de acceso, rectificación, cancelación y oposición respecto a sus datos de carácter personal, pudiendo ejercerlos según se informa en la mencionada Política de Privacidad.</p>
            <p>Menors de edad y uso de la plataforma</p>
            <p>A pesar de que Entrelectores.com no es una plataforma específicamente destinada a menores de edad, somos conscientes de que el gusto por la lectura comienza con frecuencia en edades tempranas, por lo que es probable que en ocasiones realicemos alguna campaña específica cuyo público objetivo sean los menores de edad.</p>
            <p>Tal y como dispone el artículo 13 del Real Decreto 1720/2007, la edad mínima legal para que puedas registrarte en Entrelectores.com son 14 años cumplidos, sin perjuicio de que los padres o tutores legales puedan autorizar los menores de esta edad puedan registrarse en la plataforma.</p>
            <p>En caso de que seas menor de 14 años y quieras ser usuario registrado de la plataforma, es necesario que nos remitas la siguiente información a nuestra dirección postal o por email a <a href="mailto:soporte@entrelectores.com" onclick="_gaq.push(['_trackEvent','mailto','soporte@entrelectores.com']);">soporte@entrelectores.com</a>:</p>
            <ul>
                <li>Copia de tu Documento Nacional de Identidad (DNI), si se dispone de él.</li>
                <li>Copia del Documento Nacional de Identidad (DNI) de tus padres o tutores legal</li>
                <li>Copia firmada por tus padres o tutor legal de una autorización expresa en la que se indique que acepta que el menor sea usuario registrado de la plataforma.</li>
            </ul>
            <p>En todo caso, y dado que buscamos en todo momento el cumplimiento íntegro de la normativa vigente, así como la colaboración permanente con las autoridades, nos reservamos el derecho a revisar y bloquear aquellas cuentas de usuario que consideremos pueden ser propiedad de menores de edad y no dispongamos de las autorizaciones correspondientes.</p>
            <p>Publicidad, promociones y eventos promocionales</p>
            <p>Como medio para poder mantener la calidad de los servicios que os prestamos a través de la plataforma, nos reservamos el derecho a promocionar o incluir publicidad relativa a productos y/o servicios de terceras entidades, que será publicada en la web y mostrada durante la navegación, además de en las comunicaciones por email.</p>
            <p>Para la inclusión de dicha publicidad, buscaremos en todo caso que sea lo más cercana a tus gustos y preferencias, tomando como referencia únicamente la información publicada en tu perfil y la facilitada por ti mismo a través de tu registro como usuario.</p>
            <h2>Responsabilidades</h2>
            <p>Estamos profundamente comprometidos con que el servicio funcione correctamente y conforme a las condiciones que hemos acordado contigo. No obstante, en ocasiones es posible que se produzcan, especialmente por la intervención de terceros mal intencionados, situaciones que pudieran llegar derivar en responsabilidades.</p>
            <p>En este sentido, a continuación te indicamos aquellas situaciones en las que no nos hacemos responsables, asumiendo los infractores todas las responsabilidades derivadas:</p>
            <p>En caso de que aparezca publicada en el sitio web o plataforma información que no hubiera sido alojada por nuestra parte o que en su caso hubiera sido publicada por un tercero ajeno a la organización tales como usuarios y que dañara en algún sentido a terceros, ya sean ajenos o no a la plataforma.</p>
            <p>En caso de que el sitio web y la plataforma no se encuentre operativa por razones técnicas imputables a terceros o causas imprevisibles o de fuerza mayor.</p>
            <p>En caso de que el usuario almacene, difunda, publique o distribuya en el sitio web cualquier tipo de material difamatorio, injurioso, discriminatorio, que incite a la violencia o que vaya contra la moral, el orden público, los derechos fundamentales, las libertades públicas, el honor, la intimidad o la imagen de terceros y en definitiva que vulnere la normativa vigente.</p>
            <p>En caso de que el usuario vulnere cualquiera de las obligaciones dispuestas en las presentes condiciones.</p>
            <p>En tal caso, el responsable único de dichos acciones será el usuario que las provocó, asumiendo éste todas las responsabilidades directas, indirectas, administrativas, civiles y/o penales que pudieran llegar a derivarse, dejándonos indemnes de cualquier tipo de responsabilidad al respecto.</p>
            <p>En caso de que cualquiera de los contenidos accesibles a través del sitio web o plataforma fueran contrarios a la normativa vigente, y tengamos conocimiento efectivo de ello, de conformidad con la normativa vigente, nos comprometemos a proceder a su retirada inmediata, tan pronto tengamos efectivo conocimiento y corroboremos los hechos.</p>
            <h2>Uso de enlaces dentro de la plataforma</h2>
            <p>A través de la plataforma es posible publicar enlaces o hipervínculos que dirijan a sitios web externos a Entrelectores.com, pudiendo ser éstos publicados, tanto por nuestra parte, como por parte de los usuarios en sus perfiles de usuarios.</p>
            <p>Respecto a los enlaces incluidos por los usuarios, no nos hacemos responsables del contenido que pudiera estar alojado en estos sitios web, siendo ellos los únicos responsables al respecto. En ningún caso, dichos enlaces podrán tener como finalidad la obtención por parte del usuario de beneficio económico, directo o indirecto, para sí, o para terceros.</p>
            <p>En relación a los enlaces publicados por nuestra parte, nos comprometemos a que el contenido de estos cumple con la normativa vigente, así como con las presentes condiciones, comprometiéndonos también a su retirada inmediata tan pronto tengamos conocimiento efectivo de que el contenido enlazado incumple en cualquier sentido con alguna de las indicaciones realizadas.</p>
            <h2>Modificaciones</h2>
            <p>Nos reservamos el derecho a realizar tantas modificaciones consideremos oportunas en las presentes condiciones de uso y registro, sin necesidad de preavisar con antelación a los usuarios, entendiéndose vigentes en todo momento las condiciones publicadas y accesibles desde el sitio web.</p>
            <p>Por ello, te recomendamos que antes de acceder a la plataforma revises las condiciones de uso y estés seguro de que cumples con las mismas y estas de acuerdo con éstas.</p>
            <h2>Cláusula de salvaguarda</h2>
            <p>Todas las cláusulas o extremos de estas condiciones de uso deben ser interpretadas de forma independiente y autónoma, no viéndose afectadas el resto de estipulaciones en caso de que una de ellas haya sido declarada nula por sentencia judicial o resolución arbitral firme. Se sutituirá la cláusula o cláusulas afectadas por otra u otras que preserven los efectos perseguidos por las condiciones de uso.</p>
            <h2>Resolución de controversias</h2>
            <p>Para toda cuestión litigiosa o que incumba a nuestro sitio web o cualquiera de los que de él dependa, será de aplicación la legislación española, siendo competentes para la resolución de todos los conflictos derivados o relacionados con el uso del presente sitio Web, los Juzgados y Tribunales de Madrid, España y en su caso, los Tribunales Arbitrales de consumo o semejantes a los que nos encontremos adheridos, en el momento de producirse la controversia.</p>
            <p>Para presentar reclamaciones en el uso de nuestros servicios puedes dirigirte por correo a la dirección electrónica o física indicada arriba, comprometiéndonos a tratar de solucionar la incidencia en función de nuestros medios disponibles.</p>
            <h2>Política de privacidad</h2>
            <h3>Identificación</h3>
            <ul>
                <li><strong>Titular:</strong>&nbsp;Versus Entertainment S.L</li>
                <li><strong>Domicilio:</strong>&nbsp;Calle Cronos 24-26, Portal 2, E22 Bajo, 28037 Madrid – España</li>
                <li><strong>CIF:</strong>&nbsp;B84335520</li>
                <li><strong>Registro Público:</strong>&nbsp;Inscrita en el Registro Mercantil de Madrid, al tomo 21.568, Libro 0, folio 200, Sección 8ª, Hoja M-383764, inscripción 1ª</li>
                <li><strong>E-mail:</strong> <a href="mailto:info@entrelectores.com" onclick="_gaq.push(['_trackEvent','mailto','info@entrelectores.com']);">info@entrelectores.com</a></li>
            </ul>
            <h3>Información y Consentimiento</h3>
            <p>Todos los tratamientos de datos personales que realizamos son sometidos al cumplimiento íntegro de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD) y al Real Decreto 1720/2007, garantizando que contamos con las medidas de seguridad jurídicas y tecnológicas requeridas legislativamente.</p>
            <p>Únicamente tratamos datos de contacto de los usuarios. Estos datos son almacenados y tratados en un fichero automatizado que se encuentra debidamente inscrito ante la Agencia Española de Protección de Datos.</p>
            <p>En caso de no facilitar los datos solicitados, no será posible registrarse como usuario, solicitar información o publicar contenidos en nuestro sitio Web.</p>
            <p>Los datos personales que tratamos a través del sitio Web, sólo serán utilizados para:</p>
            <ul>
                <li>Remitir información vía e-mail respecto a la evolución de la plataforma.</li>
                <li>Remitir información relativa a acuerdos, convenios e iniciativas a los que lleguemos con terceros y que sean de interés para los usuarios.</li>
                <li>Remitir periódicamente nuestro boletín electrónico de noticias, en el que podrá incorporarse publicidad relacionada con los contenidos publicados en EntreLectores.com</li>
                <li>En caso de habilitarse, tramitar y gestionar el alta como usuarios registrados.</li>
                <li>Realizar informes estadísticos anónimos respecto a los hábitos de acceso y la actividad desarrollada por los usuarios en la Web.</li>
            </ul>
            <p>En ningún caso realizaremos ninguna de las siguientes actividades:</p>
            <p>Cederlos a otras personas o entidades, sin el consentimiento previo de los titulares de los datos.</p>
            <p>Transferirlos a otros Estados, sin el consentimiento previo de los titulares de los datos.</p>
            <p>Como usuario de EntreLectores.com aceptas las presente política de privacidad, además de las condiciones de uso. En el caso de que no estés de acuerdo con algún apartado puedes dar de baja tu cuenta como usuario registrado o simplemente dejar de navegar por esta web.</p>
            <h3>Datos Estadísticos y Cookies</h3>
            <p>Nuestro sitio Web cuenta con Cookies y ficheros de actividad que permiten conocer la actividad realizada por los usuarios.</p>
            <p>Nos reservamos el derecho a compartir esta información anónima y sin ningún tipo de dato personal con otras empresas clientes, proveedoras, patrocinadoras y/o anunciantes.</p>
            <p>La herramienta utilizada para el control y análisis de las visitas recibidas es Google Analytics. Se trata de un servicio analítico de Web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”).</p>
            <p>Google Analytics utiliza “cookies”, que son archivos de texto ubicados en tu ordenador, para ayudar a analizar anónimamente el uso que hacen los usuarios del sitio Web.</p>
            <p>La información que genera la cookie acerca del uso del website (incluyendo tu dirección IP) será directamente transmitida y archivada por Google en servidores de Estados Unidos. Google usará esta información por cuenta nuestra con el propósito de tener información del uso de la web, recopilando informes de la actividad y prestando otros servicios relacionados con nuestra actividad y el uso de Internet. Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google.</p>
            <p>Google no asociará tu dirección IP con ningún otro dato del que disponga Google. Puedes rechazar este tratamiento de los datos rechazando el uso de cookies mediante la selección de la configuración apropiada del navegador, sin embargo, en reste caso es posible que no puedas usar la plena funcionabilidad de EntreLectores.com. Al utilizar esta web consientes el tratamiento de la información referida por Google en la forma y para los fines arriba indicados.</p>
            <p>Para más información, puedes consultar la Política de Privacidad de Google.</p>
            <h3>Comunicaciones Comerciales y Promocionales</h3>
            <p>Como te hemos indicado anteriormente, una de las finalidades para las que trataremos tus datos personales (en caso de que nos los hayas facilitado) es para remitirte comunicaciones electrónicas con información relevante y de actualidad de nuestra EntreLectores.com y de otros miembros del sector.</p>
            <p>Siempre que realicemos alguna comunicación de este tipo será realizada únicamente a aquellos usuarios que hubieran autorizado previamente la recepción de la misma. En caso de que no desees recibir comunicaciones comerciales o promocionales, puedes darte de baja del servicio desde aquí.</p>
            <p>Del mismo modo, te informamos de que nos reservamos el derecho de realizar publicidad durante la navegación.</p>
            <h3>Ejercicio de Derechos</h3>
            <p>Cualquier usuario que así lo deseé puede ejercer sus derechos de Acceso, Rectificación, Cancelación y Oposición, solicitándolo por escrito a través de cualquiera de los medios indicados a continuación:</p>
            <ul>
                <li><strong>Correo Postal:</strong> EntreLectores.com Calle Cronos 24-26, Portal 2, E22 Bajo, 28037 Madrid – España</li>
                <li><strong>E-mail:</strong> <a href="mailto:info@entrelectores.com" onclick="_gaq.push(['_trackEvent','mailto','info@entrelectores.com']);">info@entrelectores.com</a></li>
            </ul>

        </div>

        <div class="col_sidebar">
            <div class="promocionado_sidebar">
                {{render_esi(url('books_sidebar_promoted'))}} 
            </div>
        </div>
    </div>
</div>
{%endblock%}
