{% block user_block %}
<li role="presentation" class="dropdown-header">{{app.user.username}}</li>
<li role="presentation">
    <a role="menuitem" tabindex="1" href="{{path('homepage')}}">Ir a la Home</a>
</li>
<li role="presentation">
    <a role="menuitem" tabindex="2" href="{{path('fos_user_security_logout')}}">Salir</a>
</li>
{% endblock %}