{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
<div>
    {% if value != null %}
    <img src="{{web_image(value).jpeg()}}">
    {% else %}
    <span>Sin imagen {{value}}</span>
    {% endif %}
</div>
{% endblock %}
