@media screen and (max-width: 950px) {

/* Wrappers */

	.home_page .row_100 .row .col_content { width: 65%; float:left; margin: 20px 0 40px 0; overflow: hidden; }
	.home_page .row_100 .row .col_sidebar { width: 32.5%; float: left; margin: 20px 0 40px 2.5%; }

	.row_100 .row .col_content { width: 65%; float:left; margin: 20px 0 40px 0; overflow: hidden; }
	.row_100 .row .col_sidebar { width: 32.5%; float: left; margin: 20px 0 40px 2.5%; }

/* Tipos específicas de contenido */

.contenido_single .caja_datos { width: 100%; }
.contenido_single .fuente { width: 100%; }
	
/* -- Menu superior -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.row_100.menu_sup { height: auto; }

/* NO LOGGED */

.menu_sup.no_logged .menu.menu_principal { width: 100%; margin-top: 0; text-align: center; border-top: 1px solid #fff; padding: 5px 0; border-bottom: 1px solid #fff;}
	.menu_sup.no_logged .menu.menu_principal li { margin: 0; display: inline-block; float: none; }

.menu_sup .logo { width: 15%; background-position: left center; margin: 0; }

.menu_sup.no_logged .menu.menu_login { float: right; height: 77px; margin: 0; padding-top: 25px; text-align: right; }
.menu_sup.no_logged .menu.menu_social { width: 15%; float: right; height: 77px; margin: 0; padding-top: 25px; }
 
.menu_sup.no_logged .menu.menu_buscador { width: 50%; margin: 0 0 20px 0; text-align: center; border-top: 1px solid #555; padding:0; border-bottom: 1px solid #555; }
	.menu_sup.no_logged .menu.menu_buscador input[type="text"] { width: 210px; }

.menu_sup.no_logged .menu_principal_interior { width: 50%; margin: 0 0 20px 0; text-align: center; border-top: 1px solid #555; padding: 10px 0; border-bottom: 1px solid #555; }
	.menu_sup.no_logged .menu_principal_interior li { margin: 0; display: inline-block; float: none; }

/* LOGGED */

.menu_sup.logged .logo { width: 15%;  background-position: left center; margin: 0; border-bottom: 1px solid #555; }
.menu_sup.logged .menu.menu_buscador { width: 85%; margin: 0 0; border-bottom: 1px solid #555; margin: 27px 0 0 0; }
.menu_sup.logged .menu.menu_principal { width:auto; margin: 20px 0;  }
.menu_sup.logged .menu.menu_logged { width: auto; margin: 15px 0 0 15px; }
.panel-plegable { top: 49px; }
.menu_logged .panel-plegable { top:54px; }


/* -- Menu inferior -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

	.menu_inf .logo { width: 200px; background-size: contain; }
	.menu_inf .menu li a { padding: 0 5px; }

	.menu_inf .menu.menu_principal {}
		.menu_inf .menu.menu_principal li { margin: 0 5px 0 0; }

	.menu_inf .menu_iconos {  }
		.menu_inf .menu_iconos ul { text-align: center; display: block; margin: 0 auto 20px auto; }
			.menu_inf .menu_iconos ul li { display: inline-block; height: 60px; line-height: 60px; } 
			.menu_inf .menu_iconos ul li .icono {  width: 150px; height: 50px; line-height: 50px; }
		
/* -- Pagina inicio -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Menu home */
.home_header { height: auto; }

/* Home header */
.home_header .form .boton_verde { float: left; width: 45%; margin-right: 5%; margin-top: 0; }

/* Facebook Login */
.home_header .form .fbLoginButton { float: left; width: 45%; margin: 0; }
	
/* Facebook Login Panel */
.panel_menu_login .fbLoginButton { padding: 4px 0; text-align: center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 
	color: #fff !important; cursor: pointer; display: block; margin: 10px auto; color: #fff; background: #4663AC; border: 2px solid #4663AC; 
	line-height:34px !important; height:34px !important; font-size: 15px;  width: 70%; margin-top: 0; overflow: hidden; }

/* Encuentra */
.sugerencias ul li { width: 29%; } 
.iconos { padding: 30px 0; }
	.iconos .division { padding: 20px; }

/* Descubre */
.boxes .division.promocionados ul li { width: 100%; margin-bottom: 20px; }

/* Home boxes */
	.home_boxes .division.listas_populares { margin: 0; width: 100%; }
	.home_boxes .division.buscador_librerias { margin: 0; width: 55%; border-left: none; }
	.home_boxes .division.servicios_autores { margin: 0; width: 34%; }
		.servicios_autores .boton { width: 80%; }

/* -- Single libro --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Main Book info */

.libro_header .portada { width: 30%; overflow: hidden; }
	.libro_header .portada img { max-width: 150px; margin: 0 auto 20px auto; }

.libro_header .meta { width: 70%; }

/* Stats y media */

.libro_header .stats { width: 100%; }

.libro_header .stats .rate_media { width: 48%; float: left; position: relative; }

.stats .media { position: absolute; top: 0; left: 0; }
	.stats .rate { width: 100%; padding-top: 40px; }
	.stats .bars { width: 50%; float: right; }

/* Nuevos estilos Listas en que aparece el libro */

    .listas_libro .listado_lib li .icono { height: 40px; width: 40px; margin: 0 auto 10px auto; float: none; }
    .listas_libro .listado_lib li .copy { float: none; display: block; text-align: center; margin: 0 auto; padding: 0 20px; overflow: visible; white-space: normal; width: 100%; }

/* -- Autor ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
        
/* Listado libros resumen */
.listado_libros_resumen .libro_header .copy { width: 30%; }
.listado_libros_resumen .libro_header .seguir { width: 36%; }
.listado_libros_resumen .libro_header .stats .rate { padding-top: 0; }

/* Autor metas */

.libro_header.autor_header .meta { width: 80%; }
.libro_header.autor_header .portada { width: 20%; }

/* -- Listas ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.libro_header.lista_header .meta { width: 100%; }
.libro_header.lista_header .portada { width: 200px;  margin: 0 auto; display: block; float: none; padding-bottom: 10px; }
.libro_header.lista_header .portada .holder_1 { width: 190px; margin: 0 auto; }

/* -- Single autor --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.contenido_single.autor img { max-width: 50%; }

/* -- Planes ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.columna_campos { width: 30%; }
.columna_valores { width: 21%; }

/* -- Timeline ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.timeline ul li { position: relative; }
.timeline ul li.usuario .meta { float: none; position: absolute; top:15px; left: 10px; width: 35x; height: 35px; }
.timeline ul li.usuario .cont { float: left; width: 100%; }
.timeline ul li.con-icono.usuario .copy { float: left; width:70%; }
.timeline ul li.usuario .cont .meta-info { padding-left: 45px; min-height: 35px; }

.timeline ul li.libro .meta { float: none; position: absolute; top:15px; left: 10px; width: 80px; height: 100px; } 
.timeline ul li.libro .meta img { height: 100px; width: auto; margin-top: 0; }
.timeline ul li.libro .cont { float: left; width: 100%; }
.timeline ul li.libro .copy { float: left; width:90%; }
.timeline ul li.libro .cont p.meta-info { width: 100%; margin-bottom: 15px; min-height: 100px; padding: 20px 20px 0 100px; }

.timeline ul li.nuevo-libro .meta { float: none; position: absolute; top:15px; left: 10px; width: 80px; height: 100px; } 
.timeline ul li.nuevo-libro .meta img { height: 100px; width: auto; margin-top: 0; }
.timeline ul li.nuevo-libro .cont { float: left; width: 100%; }
.timeline ul li.nuevo-libro .copy { float: left; width:70%; }
.timeline ul li.nuevo-libro .cont p.meta-info { width: 100%; margin-bottom: 15px; min-height: 100px; padding: 20px 20px 0 100px ; }

.timeline ul li .cont p.meta-info { }
.timeline ul li .cont p.meta-info .cont-nombre-accion { width: 100%; }
    .timeline ul li .cont p.meta-info .nombre { display: block; margin-bottom: 5px; }
    .timeline ul li .cont p.meta-info .accion { display: block; margin-bottom: 5px; }
    .timeline ul li .cont p.meta-info .fecha { display: block; margin-bottom: 5px; float: none; }
     


    /* Timeline con icono ( reseñas, entrevistas y seguimiento ) */
    
    .con-icono.usuario .img-holder { width: 25%; float: left; overflow: hidden; margin-right: 4%; }
    .con-icono.usuario .img-holder img { height: 100px; margin: 0; width: auto; }
    
    .con-icono.usuario.entrevista .img-holder { width: 25%; float: left; overflow: hidden; margin-right: 4%; }
    .con-icono.usuario.entrevista .img-holder img { height: 70px; margin: 0; width: auto; }

    .con-icono.libro .img-holder { width: 7%; float: left;  overflow: hidden; margin-right: 2%; }
    .con-icono.libro .img-holder img { width: 30px; height: 30px; }
    
    .con-icono.nuevo-libro .img-holder { width: 25%; float: left; overflow: hidden; margin-right: 2%; }
    .con-icono.nuevo-libro .img-holder img { height: 100px; margin: 0; width: auto; }
    
    .con-icono .img-holder.usuario img { width: 50px; height: auto; margin: 0 auto; display: block; }
    .con-icono .cont p { float: left; width: 100%; }
    .con-icono .cont p a.boton { padding: 0 20px; margin: 10px 0 0 0; }
       
    .con-icono .holder_1 { float: none; position: absolute; top:15px; left: 10px; width: 80px; height: 100px; }
    .con-icono .cont .holder_1 { float: left; position: relative; top:0; left:0; width: 25%; }
    

/* -- Overlay inner -- */

.overlay .overlay_cont.mensaje { width: 50%; left: 25%; top: 25%; }

/* Overlay Registro */

.overlay .overlay_cont.registro { width: 80%; left: 10%; }

.overlay .overlay_cont.registro .home_header .form .boton_verde { display: block; width: 90%; margin: 10px auto; }
.overlay .overlay_cont.registro .home_header .form .fbLoginButton { display: block; width: 90%; margin: 10px auto; }

/** ALBERTO  **/

.logo:before{left: 58px;}
.home_header .menu_sup .logo:before{left: 205px;}
.sugerencias .featus-genre a.nombre-grid{font-size: 11px;}

}

@media screen and (max-width: 900px) {

/* Libro leído */

.libro_leido .listas { float: left; width: 100%; text-align: center; }
.libro_leido .leido { float: left; width: 100%; margin-bottom: 20px; text-align: center; }
.libro_leido .listas .boton_inline, .libro_leido .leido .boton_inline { margin: 0 10px; }

/* Nuevos estilos Otros libros del mismo autor */

    .lista_autor .listado_lib li { width: 50%; margin: 10px 25%; }
    
/* .organizator{display: block; float: none; margin-bottom: 20px; text-align: center;} */

}

@media screen and (max-width: 880px) { 

/* -- Single libro --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Meta */
	
	.libro_meta .interacciones_ee { float: left; width: 100%; margin-bottom: 10px; }
	.libro_meta .interacciones_social { float: left; width: 100%; }
	
.boton-ordenator{padding: 0 10px; font-size: 11px; line-height: 22px;}
.organizator .boton-lista i{margin: 5px 12px;}
.organizator .boton-grid i{margin: 5px 12px;}	
	
}